<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
    <p>You're receiving this email because you requested a password reset for your user account.</p>
    
    <p style="margin-bottom:100px"><a style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-decoration: none;" href="{{ reset_url }}">Reset Password</a></p>
    
    <span>Follow us: </span>
    <div style="display: flex; justify-content: center; align-items: center;">
      <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #E1306C; color: white; text-decoration: none; font-size:10px">
        Instagram
      </a>
      <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #1da1f2; color: white; text-decoration: none; font-size:10px">
        Twitter
      </a>
      <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #0077B5; color: white; text-decoration: none; font-size:10px">
        LinkedIn
      </a>
      <a href="#" style="margin: 5px; padding: 5px ; border-radius: 10%; background-color: #ff0000; color: white; text-decoration: none; font-size:10px">
        Youtube
      </a>
    </div>
    
    <i>If you face difficulties in resetting account password kindly contact us on: contact@geekyshows.com</i>
    <br/>
    <i>If you did not request this, please ignore this email.</i>
    
</body>
</html>